
hr{
    border-top: 2px solid;
    margin-top: 10px !important;
}

.img-item{
    width: 107px;
    height: 120px;
}

.info-item{
    color: #665c5c;
    font-size: 15px;
}

.mouse-item{
    cursor: pointer;
}

.spinner-group{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}